<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="nav-form">
        <nav class="nav1">
            <a href="/pets"><h1 class="title">PetRescue</h1></a>
        </nav>
        <nav class="nav2-form">
            
        </nav>
    </div>

<div class="form">

    <h1>Edit <%= Pet.name %></h1>

    <form action="/pets/<%= Pet._id %>?_method=PUT" method="POST">

        <div class="inputBox">
            <input type="text" name="name" placeholder="NAME" value="<%= Pet.name %>">
        </div>
        <div class="inputBox">
            <input type="text" name="type" placeholder="TYPE" value="<%= Pet.type %>">
        </div>
        <div class="inputBox">
            <input type="text" name="breed" placeholder="BREED" value="<%= Pet.breed %>">
        </div>
        <div class="inputBox">
            <input type="number" name="age" placeholder="AGE" value="<%= Pet.age %>">
        </div>
        <div class="inputBox">
            <input type="text" name="color" placeholder="COLOR" value="<%= Pet.color %>">
        </div>
        <div class="inputBox">
            <input type="text" name="img" placeholder="IMG LINK" value="<%= Pet.img %>">
        </div>
        <div class="aggressive">
            AGGRESSIVE <input type="checkbox" name="aggressive">
        </div>
        <div class="createBTN">
            <input type="submit" value="Save Changes">
        </div>

    </form>

</div>

</body>
</html>