<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body>
    <%-include('./partials/nav.ejs')%>

    <img src="https://newevolutiondesigns.com/images/freebies/4k-dog-wallpaper-1.jpg" class="homeImg">
    <h1 style="text-align: center;">Adopt your next best friend!</h1>
    <div class="grid">
    <% for(let i = 0; i < pets.length; i++){ %>
        <div class="card">
            <a href="/pets/<%= pets[i]._id %>"><img src="<%=pets[i].img%>" style="width: 100%;border-radius: 5px 5px 0 0;height: 250px;"></a>
            <div class="cardContainer">
                <h2><%=pets[i].name%></h2>
                <% if(pets[i].type == 'dog'){ %>
                    <i class="fa-solid fa-dog fa-2xl petIcon"></i>
                <% } else if(pets[i].type == 'cat') {%>
                    <i class="fa-solid fa-cat fa-2xl petIcon"></i>
                <% }else if(pets[i].type == 'bird') {%>
                    <i class="fa-solid fa-dove fa-2xl petIcon"></i>
                <% }else if(pets[i].type == 'bunny') {%>
                    <i class="fa-solid fa-carrot petIcon fa-2xl"></i>
                <% }else{ %>
                    <%=pets[i].type %>
                <% } %>
            </div>
        </div>
        <%}%>
    </div>
</body>
</html>


https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUOx__9oWCdJfp5-oayKgaFSj9DVp7RETV9Q&usqp=CAU