<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%-include('./partials/nav.ejs')%>

    <div class="showOptions">
        <a href="/pets/<%=pet._id%>/edit">Edit</a>
        <form action="/pets/<%= pet._id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
    </form>
</div>
    <% let dateFormat = new Date(pet.createdAt) %>
    <p>Date posted: <%= dateFormat.getDay()+ "/" + (dateFormat.getMonth()+1) + "/" + dateFormat.getFullYear()%>  </p>
    <h1><%=pet.name%></h1>
    <img src="<%=pet.img%>">
    <p><%=pet.type%></p>
    <p><%=pet.breed%></p>
    <p><%=pet.age%></p>
    <p><%=pet.color%></p>
    <p><%=pet.aggressive%></p>
</body>
</html>